/*Global */
@font-face {
  font-family: Caprasimo;
  src: url("assents/fonts/Caprasimo/Caprasimo-Regular.ttf");
}
html {
    scroll-behavior: smooth; 
  }
  * {
    margin: 0;
    padding: 0;
  }
  *, 
  *::before, *::after {
    box-sizing: border-box;
  }
  ul, ol, li {
    list-style: none;
  }
  a, a:visited {
    text-decoration: none;
    font-family: inherit;
    color:darkgoldenrod;
  }
  body{
    font-family: Caprasimo;
    min-height: 100vh;
    margin: auto; padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #f0efef;
    background-color:grey;
}
.wrapper {
  width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
}  
.main__content {
  display: flex;
}

/* Header */
header {
    width: 100%;
    height: 50px;
    background-color:darkgreys;
  }
.nav-list {   
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: rgb(33, 33, 33);
  }
  .nav a {
    padding: 14px 10px;
    line-height: 50px;
    color:whitesmoke;
  }
  .nav a:hover {
    color:yellow
   /* background-color: yellowgreen;*/
  }
  .nav a:active {
    color: whitesmoke;
    text-decoration: none;
  }
  .main__content {
    display: flex;
  }
/* Left side */
.big-left-side {
  /*width: 50%;*/
    width: 400px;
    background-color:rgb(33, 33, 33);
  }
  .big-figure--left-side {
    margin: 0;
    padding: 0;
    width: 100%;
    height: min-content;
    background-color:rgb(33,33,33);
  }
  .big-photo {
    width: 100%;
    object-fit: cover;
  }
  .big-left-side .section-title {
    margin-bottom: 50px;
    color:whitesmoke;
    background-color:rgb(33,33,33);
  } 
  /* Contact */
  .contacts {
    padding: 54px 0px 54px 0px;
    color: whitesmoke;
  }
  .title-left {
    padding: 5px 50px;
    font-size: 28px;
    font-weight: 700;
    line-height: 1;
    color: whitesmoke;
    background-color: rgb(43, 43, 43);
  }
  .contact__list {
    list-style: none;
    margin: 0;
    margin-top: 60px;
    margin-left: 60px;
    margin-right: 60px;
    padding: 0;
    font-size: 20px;
    font-weight: 300;
  }
  .contact__item {
    margin-bottom: 25px;
  }
  .contact__item:last-child {
    margin-bottom: 0;
  }
  .contact__item a {
    display: block;
  }
/* Education */

.education {
  padding: 54px 0px 54px 0px;
  color: whitesmoke;
  }
  .education__list {
    margin: 0;
    margin-top: 40px;
    margin-left: 60px;
    margin-right: 60px;
    padding: 0;
    list-style: none;
    font-size: 20px;
    font-weight: 300;
  }
  .education__item {
    margin-bottom: 25px;
  }
  .education__item:last-child {
    margin-bottom: 0;
  }
  .contact__item a {
    display: block;
  }
  /* Right Side */
  .big-right-side{
    color:rgb(33,33,33);
    width: 800px;
    background-color:bisque;
  }
  .hero {
    /*padding-left: 0px;*/
    background-color:goldenrod;
    padding: 30px 50px 58px 50px;
  }
  
  .hero-title {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 50px;
  }
  .hero-subtitle {
    font-size: 30px;
    font-weight: 700;
  }
 
  /* About me */
.aboutme {
    /*padding: 0;
    margin-bottom: 54px;*/
    padding: 30px 30px 30px 0px;
  }
  .aboutme-title {
    margin-bottom: 50px;
  }
  .title-right {
    padding: 5px 30px;
    font-size: 28px;
    font-weight: 700;
    background-color:bisque;
  }
  .about-me__text {
    padding: 30px 30px;
    margin-left: 0px;

    line-height: 1.5;
    font-size: 22px;
    font-weight: 300;
  }

  /* Skills */ 
  .skills {
    padding: 50px 0px 40px 0px;
  }
  .skills__list {s
    font-size: 22px;
    font-weight: 300;
    margin-top: 20px;
    margin-left: 30px;
  }
  /*Code*/
  .code{
    padding: 6px 0px 50px 0px;
  }
  .code-text{
    margin-right: 60px;
    margin-left: 30px;
    font-size: 22px;
    font-weight: 300;

  }

  /* Projects */
  .projests {
   padding: 0px 30px 0px 30px; 
  }
  .projests.project-link {
   
  }
.project-item {
  margin-top: 25px;
  margin-bottom: 25px;
  margin-left: 25px;
  
}
/* Footer */
.footer { 
  /*padding: 10px 60px 10px 60px;
  border: 2px dashed #aaa;
  align-items: center;
  color: #ffffff;
  background-color:#673ab7;*/
  padding: 30px 50px;
  background-color: rgb(33, 33, 33);
  }
  .footer_content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    
  }
  .footer__link { 
    /*border: 2px dashed black;*/
    display: flex;
    align-items: center;
    gap: 10px;
    transition: all .3s;
    
  }
 
  .footer-year {
    
  }
  .footer-link-Rsschool {
    margin-left: 900px;
  }
  .footer__icon {
    /*margin-left: 900px;*/
    fill: #f0efef;
    transition: all .3s;
  }



